# Environments
venv/
env/
ENV/
env.bak/
venv.bak/

# Environment Variables
.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDE / OS
.vscode/
.idea/
.DS_Store

# Streamlit
.streamlit/